<p id="first">Hello</p>
<p id="second">Goodbye</p>
<p id="third">Welcome</p>
<p id="fourth">Farewell</p>

<button onclick="changeColors()">Do Stuff</button>
<button onclick="showFridayTrucks()">Friday Trucks</button>
<button onclick="showAllTrucks()">All Trucks</button>

<div id="responseDiv"></div>